*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color:#FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 45px;
}
.color{
    color: #FD6E0A;
}
.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;

}
.menu a{
    font-size: 10px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: wheat;
}