*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 45px;
}
.color{
    color: #FD6E0A;
}
.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;

}
.menu a{
    font-size: 10px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: wheat;
    cursor: pointer;
}
#banner {
    border: 1px solid red;
    margin: 47px 38px 0px 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content {
    max-width: 585px;
}
.banner-content h2{
       font-size: 45px;
       font-weight: 600px;
       color: #474747;
       margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

.b-image img{
    max-width: 585px;
    vertical-align: bottom;
}