*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 45px;
}
.color{
    color: #FD6E0A;
}
.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;

}
.menu a{
    font-size: 10px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: wheat;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
    margin: 0ox auto;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0px 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content {
    max-width: 585px;
}
.banner-content h2{
       font-size: 45px;
       font-weight: 600px;
       color: #474747;
       margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

.b-image img{
    max-width: 585px;
    vertical-align: bottom;
}
#about,#skills,#resume{
    padding-top: 130px;
}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;background-color:#FFF8F3;
    padding: 131px 156px;

}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}

.skillcontainer{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}
.skill-box{
    display: flex;
    gap: 24px;
    
}
.skill-card{
    padding: 30px;
    /* border: 1px solid  red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #000000;

}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px ;
   
}
.section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    
    color: #757575;
}
